footer
{
    padding: 100px 0;
}
.input-group
{
    max-width: 350px;
}
footer span
{
    color: #FF9F0D;
}
footer .input-group
{
    max-width: 300px;
}
footer .input-group input
{
    background-color: #FF9F0D;
    border-color: #FF9F0D;
}
footer .input-group input::placeholder{
    color: white !important;
}
footer .input-group button:hover
{
    background-color: #FF9F0D !important;
    color: white;
}
footer .text1
{
    border-bottom: 2px solid #FF9F0D;
    margin-bottom: 50px;
}
footer h3
{
    margin-bottom: 30px;
}
footer .icon
{
    width: 60px;
    height: 60px;
    padding: 15px;
    background-color: #FF9F0D;
    margin-right: 20px;
}
footer .about
{
    width: 350px;
}
footer img
{
    width: 50px;
}
footer .part
{
    padding-left: 30px;
}
footer li
{
    margin: 10px 0;
}
footer li a:hover
{
    color: #FF9F0D !important;
}