<footer class="bg-black text-white py-4 py-5">
    <div class="container">
        <div class="text1 d-flex justify-content-around align-items-center flex-wrap mb-4 py-5">
            <div class="part1">
                <h2><span>St</span>ill You Need Our Support?</h2>
                <p>Don’t wait, make a smart & logical quote here. It’s pretty easy.</p>
            </div>
            <div class="input-group mb-3 ">
                <input type="text" class="form-control text-white" placeholder="Enter Your Email" aria-label="Recipient's email" aria-describedby="button-addon2">
                <button class="btn btn-outline-warning bg-white" type="button" id="button-addon2">Subscribe Now</button>
            </div>
        </div>

        <div class="row justify-content-between">
            <div class="col-md-3 part">
                <h3>About Us</h3>
                <p>Corporate clients and leisure travelers rely on us for safe, professional chauffeured car service worldwide.</p>
                <div class="d-flex">
                    <ng-icon class="icon d-flex justify-content-center align-items-center" name="heroClock"></ng-icon>
                    <div>
                        <p><strong>Opening Hours:</strong></p>
                        <p>Mon - Sat: 8.00 - 6.00<br>Sunday: Closed</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2 part">
                <h3>Useful Links</h3>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white text-decoration-none">About</a></li>
                    <li><a href="#" class="text-white text-decoration-none">News</a></li>
                    <li><a href="#" class="text-white text-decoration-none">Partners</a></li>
                    <li><a href="#" class="text-white text-decoration-none">Team</a></li>
                    <li><a href="#" class="text-white text-decoration-none">Menu</a></li>
                    <li><a href="#" class="text-white text-decoration-none">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-2 part">
                <h3>Help?</h3>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white text-decoration-none">FAQ</a></li>
                    <li><a href="#" class="text-white text-decoration-none">Terms & Conditions</a></li>
                    <li><a href="#" class="text-white text-decoration-none">Reporting</a></li>
                    <li><a href="#" class="text-white text-decoration-none">Documentation</a></li>
                    <li><a href="#" class="text-white text-decoration-none">Support Policy</a></li>
                    <li><a href="#" class="text-white text-decoration-none">Privacy</a></li>
                </ul>
            </div>

            <div class="col-md-4 part">
                <h3>Recent Posts</h3>
                <div class="d-flex mb-3">
                    <img src="assets/images/unsplash_CLMpC9UhyTo.jpg" alt="Post 1" class="me-2 img-fluid" width="60" height="60">
                    <div>
                        <p>Is fast food good for your body?</p>
                        <p>February 28, 2022</p>
                    </div>
                </div>
                <div class="d-flex mb-3">
                    <img src="../assets/images/unsplash_CLMpC9UhyTo.jpg" alt="Post 2" class="me-2 img-fluid" width="60" height="60">
                    <div>
                        <p>Change your food habit with organic food</p>
                        <p>February 28, 2022</p>
                    </div>
                </div>
                <div class="d-flex">
                    <img src="assets/images/unsplash_CLMpC9UhyTo.jpg" alt="Post 3" class="me-2 img-fluid" width="60" height="60">
                    <div>
                        <p>Do you like fast food for your life?</p>
                        <p>February 28, 2022</p>
                    </div>
                </div>
            </div>
        </div>

        
    </div>
</footer>