<header class="header text-center pt-5 " style="background-image: url('assets/images/de288adf1e3ed51d209d2c3f30979e78.jpg');">
    <h1 class="text-light">About Us</h1>
    <nav>
        <a href="/" class="text-light text-decoration-none">Home ></a>
        <span class="text-warning">About</span>
    </nav>
</header>
<section class="food-section">
    <div class="food-images">
        <img src="assets/images/about.fb57f4c2c53b4a044331.png" alt="">
    </div>
    <div class="food-content">
        <h2>Food is an important part of a balanced diet</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque diam pellentesque bibendum non dui volutpat fringilla bibendum. Urna, elit augue urna, vitae feugiat pretium.</p>
        <div class="buttons">
            <button class="btn show-more">Show More</button>
            <button class="btn btn-outline-light text-dark ml-2">
                <i class="fa-solid fa-play text-light btn-warning rounded-circle p-2"></i>
                Watch Video
              </button>
        </div>
    </div>
</section>
<section class="abouttwo text-center py-5">
    <h1>Why Choose Us</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque diam
        <br />
        pellentesque bibendum non dui volutpat fringilla bibendum.
    </p>
    <img src="assets/images/about2.148b177b4ec283ca42b4.png" class="img-fluid w-75 p-3" alt="Why Choose Us" />
    <div class="row list mt-3">
        <div class="col-md-3">
            <img src="assets/images/download (11).png" class="img-fluid" alt="Best Chef" />
            <h4>Best Chef</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque diam pellentesque bibendum non dui volutpat
            </p>
        </div>
        <div class="col-md-3">
            <img src="assets/images/download (2).png" class="img-fluid" alt="120 Item Food" />
            <h4>120 Item Food</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque diam pellentesque bibendum non dui volutpat
            </p>
        </div>
        <div class="col-md-3">
            <img src="assets/images/download (3).png" class="img-fluid" alt="Clean Environment" />
            <h4>Clean Environment</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque diam pellentesque bibendum non dui volutpat
            </p>
        </div>
    </div>
</section>
<section class="aboutthree" style="background-image: url('assets/images/49d9347652ae42d047e61b0c7d15224a.jpg');">
    <div class="mark">
        <h1>Team Members</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. <br />
            Varius sed pharetra dictum neque massa congue
        </p>
        <div class="marks row">
            <div class="col-md-2">
                <img src="assets/images/12170bfb77b22a3624597e4de0fe861d.jpg" class="img-fluid" alt="Mark Henry" />
                <h2>Mark Henry</h2>
                <p>Owner</p>
            </div>
            <div class="col-md-2">
                <img src="assets/images/12170bfb77b22a3624597e4de0fe861d.jpg" class="img-fluid" alt="Lucky Helen" />
                <h2>Lucky Helen</h2>
                <p>Chef</p>
            </div>
            <div class="col-md-2">
                <img src="assets/images/12170bfb77b22a3624597e4de0fe861d.jpg" class="img-fluid" alt="Moon Henry" />
                <h2>Moon Henry</h2>
                <p>Founder</p>
            </div>
            <div class="col-md-2">
                <img src="assets/images/12170bfb77b22a3624597e4de0fe861d.jpg" class="img-fluid" alt="Tom Monrow" />
                <h2>Tom Monrow</h2>
                <p>Specialist</p>
            </div>
        </div>
    </div>
</section>
