<div id="root">
    <div class=" heade position-relative vw-100 d-flex justify-content-center align-items-center">
        <img class="position-absolute mb-3" src="assets/images/banner.2658b6c4e890de0b918c.png" alt="">
        <div  class="text text-center text-white position-absolute">
            <h1>Menu</h1>
            <p><a class="text-decoration-none text-white" routerLink="/home">Home </a> > <span>Menu</span></p>
        </div>
    </div>

    <div class="menu ">
        <div class="each-menu">
            <div class="image col-12 col-xl-6 col-md-6 p-2 overflow-hidden">
                <img src="assets/images/starter.63a2b1bd7493dd15f353.png" class=""alt="">
            </div>
            <div class="col-12 col-xl-6 col-md-6 p-2">
                <div class="menu-list ">
                    <h2>Starter Menu</h2>
                    <div class="singlemenu">
    
                        <div class="nameNprice">
                            <h3>Alder Grilled Chinook Salmon</h3>
                            <h3>32$</h3>
                        </div>
                    <p>Toasted French bread topped with romano, cheddar</p>
                    <p>560 CAL</p>
                    </div>
    
                    <div class="singlemenu">
                        <div class="nameNprice">
                            <h3>Berries and creme tart</h3>
                            <h3>43$</h3>
                        </div>
                    <p>Gorgonzola, ricotta, mozzarella, taleggio</p>
                    <p>700 CAL</p>
                    </div>  
                    
                    <div class="singlemenu">
                        <div class="nameNprice">
                            <h3>Tormentoso Bush Pizza Pintoage</h3>
                            <h3>14$</h3>
                        </div>
                    <p>Ground cumin, avocados, peeled and cubed</p>
                    <p>1000 CAL</p>
                    </div>
    
                    <div class="singlemenu">
                        <div class="nameNprice">
                            <h3>Spicy Vegan Potato Curry</h3>
                            <h3>35$</h3>
                        </div>
                        <p>Spreadable cream cheese, crumbled blue cheese</p>
                        <p>560 CAL</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- هنا انا حاطط كلام زيادة جنب كلاس ال each-menu -->
        <div class="each-menu mt-20 flex-row-reverse"> 
            <div class="image col-12 col-xl-6 col-md-6 p-2 overflow-hidden">
                 <img src="assets/images/main.a2c57344202abb235e2f.png" alt="">
            </div>   
            <div class="col-12 col-xl-6 col-md-6 p-2 ">
                <div class="menu-list">
                    <h2>Main Course</h2>
                    
                    <div class="singlemenu">
                        <div class="nameNprice">
                            <h3>Optic Big Breakfast Combo Menu</h3>
                            <h3>32$</h3>
                        </div>
                    <p>Toasted French bread topped with romano, cheddar</p>
                    <p>560 CAL</p>
                    </div>
    
                    <div class="singlemenu">
                        <div class="nameNprice">
                            <h3>Cashew Chicken With Stir-Fry</h3>
                            <h3>43$</h3>
                        </div>
                    <p>Gorgonzola, ricotta, mozzarella, taleggio</p>
                    <p>700 CAL</p>
                    </div>
    
                    <div class="singlemenu">
                        <div class="nameNprice">
                            <h3>Vegetables & Green Salad</h3>
                            <h3>13$</h3>
                        </div>
                    <p>Ground cumin, avocados, peeled and cubed</p>
                    <p>1000 CAL</p>
                    </div>
                    
                    <div class="singlemenu">
                        <div class="nameNprice">
                            <h3>Spicy Vegan Potato Curry</h3>
                            <h3>33$</h3>
                        </div>
                    <p>Spreadable cream cheese, crumbled blue cheese</p>
                    <p>560 CAL</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mid-menu">
        <div class="overlay">
            <div>
                <img src="assets/images/Group2.41be7b75101fbb72810f34303ad1c2e3.svg" alt="">
                <h5>420</h5>
                <p>Professional Chefs</p>
            </div>
            
            <div>
                <img src="assets/images/Group3.be84b7bd7e616f30a1e181c1c20a1765.svg" alt="">
                <h5>320</h5>
                <p>Items Of Food</p>
            </div>
            
            <div>
                <img src="assets/images/Group.6454e77b059aabef5669a4e43a1385fd.svg" alt="">
                <h5>30+</h5>
                <p>Years Of Experience</p>
            </div>
            
            <div>
                <img src="assets/images/Group1.5513ff712cee8318cf2faf41e178599b.svg" alt="">
                <h5>220</h5>
                <p>Happy Customers</p>
            </div>
        </div>
    </div>

    <div class="menu">
        <div class="each-menu">
            <div class="image col-12 col-xl-6 col-md-6 p-2 overflow-hidden">
                <img src="assets/images/OIP.WlzTKBLKxkTO_7JNwbwAWAHaLH?pid=ImgDet&w=179&h=268&c=7&dpr=1.3" alt="">
            </div>
            <div class="col-12 col-xl-6 col-md-6 p-2">
                <div class="menu-list">
                    <h2>Dessert</h2>
                    
                    <div class="singlemenu">
                        <div class="nameNprice">
                            <h3>Fig and lemon cake</h3>
                            <h3>32$</h3>
                        </div>
                        <p>Toasted French bread topped with romano, cheddar</p>
                        <p>560 cal</p>
                    </div>
    
                    <div class="singlemenu">
                        <div class="nameNprice">
                            <h3>Creamy mascarpone cake</h3>
                            <h3>43$</h3>
                        </div>
                        <p>Gorgonzola, ricotta, mozzarella, taleggio</p>
                        <p>700 cal</p>
                    </div>
    
                    <div class="singlemenu">
                        <div class="nameNprice">
                            <h3>Pastry, blueberries, lemon juice</h3>
                            <h3>14$</h3>
                        </div>
                        <p>Ground cumin, avocados, peeled and cubed</p>
                        <p>1000 cal</p>
                    </div>
    
                    <div class="singlemenu">
                        <div class="nameNprice">
                            <h3>Pain au chocolat</h3>
                            <h3>35$</h3>
                        </div>
                        <p>Spreadable cream cheese, crumbled blue cheese</p>
                        <p>560 cal</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- هنا بردة اسم الكلاس مختلف -->

        <div class="each-menu mt-20 flex-row-reverse">
            <div class="image col-12 col-xl-6 col-md-6 p-2 overflow-hidden">
                <img src="assets/images/dark.jpeg" alt="">
            </div>
            <div class="col-12 col-xl-6 col-md-6 p-2">
                <div class="menu-list">
                    <h2>Drinks</h2>
    
                    <div class="singlemenu">
                        <div class="nameNprice">
                            <h3>Caffè macchiato</h3>
                            <h3>32$</h3>
                        </div>
                        <p>Toasted French bread topped with romano, cheddar</p>
                        <p>560 cal</p>
                    </div>
    
                    <div class="singlemenu">
                        <div class="nameNprice">
                            <h3>Caffè macchiato</h3>
                            <h3>15$</h3>
                        </div>
                        <p>Gorgonzola, ricotta, mozzarella, taleggio</p>
                        <p>700 cal</p>
                    </div>
                    
                    <div class="singlemenu">
                        <div class="nameNprice">
                            <h3>Caffe Latte Campuri</h3>
                            <h3>14$</h3>
                        </div>
                        <p>Ground cumin, avocados, peeled and cubed</p>
                        <p>1000 cal</p>
                    </div>
                    
                    <div class="singlemenu">
                        <div class="nameNprice">
                            <h3>Tormentoso BushTea Pintoage</h3>
                            <h3>35$</h3>
                        </div>
                        <p>Spreadable cream cheese, crumbled blue cheese</p>
                        <p>560 cal</p>
                    </div>
                </div>
            </div>
            </div>
    </div>

    <div class="partners">
        <p>Partners & Clients</p>
        <h6>We work with the best people</h6>
        <div class="brands">
            <img src="assets/images/restaurant.e925f5f7b42fdf17aa26.png" alt="">
            <img src="assets/images/bakery2.1bd5f2ab73c4d5b2a3f8.png" alt="">
            <img src="assets/images/fork.0f348ecb4c580aaa1038.png" alt="">
            <img src="assets/images/coffee.f85724911c8da5b92c28.png" alt="">
            <img src="assets/images/bistro.3dea895ee32ff22f879e.png" alt="">
            <img src="assets/images/download (1)" alt="">
        </div>
    </div>
</div>      