
<nav class="position-fixed vw-100 navbar navbar-dark navbar-expand-lg bg-black">
    <div class="container-fluid container ">
        <h2 class="text-white">Food<span class="">tuck</span></h2>
      <button class="navbar-toggler order-1 border-warning text-warning" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse order-2 " id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-auto ">
          <li class="nav-item">
            <a  class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/menu" routerLinkActive="active">Menu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/blog" routerLinkActive="active">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/pages" routerLinkActive="active">Pages</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/shop" routerLinkActive="active">Shop</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/Contact" routerLinkActive="active">Contact</a>
          </li>
        </ul>
      </div>
      <div class="icons order-xxl-3 order-xl-3  order-lg-3">
        <ng-icon class="icon text-white" name="heroMagnifyingGlass"></ng-icon>
        <ng-icon class="icon text-white" name="heroUser"></ng-icon>
        <a routerLink="/cart" class="position-relative">
            <ng-icon class="icon text-white" name="heroShoppingCart"></ng-icon>
            <span class="badge position-absolute top-0 start-100 translate-middle bg-danger rounded-pill">
              {{cartProducts.length}}
            </span>
        </a>
    </div>
    
    </div>
  </nav>