<!-- ----------------------------------------------- section 1 ---------------------------  -->
<div class="container-fluid vw-100 vh-100 position-relative">
    <img class="bg-image" src="assets/images/unsplash_qom5MPOER-I.png" alt="Error">
    <div class="overlay d-flex align-items-center position-absolute w-100 h-100">
        <div class="container d-flex justify-content-between align-items-center flex-wrap w-100">
            <div class="text-section d-flex align-items-center col-md-5 col-sm-12">
                <div class="line"></div> 
                <div class="text-content w-100 ms-3">
                    <p class="font">Its Quick & Amusing!</p>
                    <h1><span>Th</span>e Art of speedfood Quality</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Varius sed pharetra dictum neque massa congue</p>
                    <a routerLink="/menu"><button class="btn">See Menu</button></a>
                </div>
            </div>
            <div class="image-section col-md-6 col-sm-12">
                <img src="assets/images/food_image_no_bg.png" class="img-fluid" alt="food image">
            </div>
        </div>
    </div>
</div>
<!-- ----------------------------------------------------------------------------------------------- -->
